<ion-content>
  <div class="rv_modal">    
    <button class="close_modal" (click)="closeModal()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
      </svg>
    </button>
    
    <div class="container" style="margin: auto;">

      <form class="register-form" #profile="ngForm" (ngSubmit)="userProfileUpdate(profile)">
        <div class="avatar-upload">
            <label for="avatar">
                <img [src]="profileImage?.url || userImage || defaultImage" alt="Avatar" id="avatarPreview" class="avatar">

                <div class="overlay">
                    <span>Upload</span>
                </div>
            </label>
            <input id="avatar" type="file" (change)="uploadProfileImage($event)" accept="image/jpg,image/jpeg,image/png">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" [(ngModel)]="name" required placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label for="name">Email</label>
            <input type="email" name="email" [(ngModel)]="email" placeholder="Enter your email" readonly>
        </div>
        <div class="form-group">
            <label for="name">Phone</label>
            <input type="tel" name="phone" [(ngModel)]="phone" placeholder="Enter your phone" readonly>
        </div>
        <button type="submit" class="register-button">Update</button>
    </form>
    
    
  </div>
  </div>
</ion-content>